07-fabric-build/The future/pl_sc_bronze.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "LakehouseTableSource",
            "sqlReaderQuery": "SELECT r.target_schema, r.target_table FROM SupplyChain_Warehouse.meta.sp_registry r WHERE r.layer IN ('BRZ','REF') AND r.is_active = 1 AND (r.cron_expression IS NULL OR r.next_run_time IS NULL OR r.next_run_time <= GETUTCDATE()) AND r.project = '@{pipeline().parameters.project_name}'",
            "partitionOption": "None"
          },
          "datasetSettings": {
            "type": "LakehouseTable",
            "schema": [],
            "connectionSettings": {
              "name": "SupplyChain_Lakehouse",
              "properties": {
                "type": "Lakehouse",
                "typeProperties": {
                  "artifactId": "a58732fa-f50a-856c-4f46-409362a3081e",
                  "workspaceId": "00000000-0000-0000-0000-000000000000",
                  "rootFolder": "Tables"
                },
                "externalReferences": {
                  "connection": "b4311980-3d3b-49be-bd11-7e2f8e424e19"
                },
                "annotations": []
              }
            },
            "annotations": []
          },
          "firstRowOnly": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "lk_brz_ref",
        "dependsOn": []
      },
      {
        "type": "ForEach",
        "typeProperties": {
          "batchCount": 6,
          "items": {
            "value": "@activity('lk_brz_ref').output.value",
            "type": "Expression"
          },
          "activities": [
            {
              "type": "SqlServerStoredProcedure",
              "typeProperties": {
                "storedProcedureName": "[meta].[usp_generic_load]",
                "storedProcedureParameters": {
                  "target_schema": {
                    "value": {
                      "value": "@item().target_schema",
                      "type": "Expression"
                    },
                    "type": "String"
                  },
                  "target_table": {
                    "value": {
                      "value": "@item().target_table",
                      "type": "Expression"
                    },
                    "type": "String"
                  }
                }
              },
              "linkedService": {
                "name": "SupplyChain_Warehouse",
                "properties": {
                  "type": "DataWarehouse",
                  "typeProperties": {
                    "artifactId": "e146ffe2-d907-46a7-9b7e-3e739a31b24e",
                    "endpoint": "7woj2wroypauvkpn72b56t46ju-qp6ntsfwdaou5atebne65u3p4a.datawarehouse.fabric.microsoft.com",
                    "workspaceId": "c8d9fc83-18b6-4e1d-8264-0b49eed36fe0"
                  },
                  "annotations": []
                }
              },
              "policy": {
                "timeout": "0.02:00:00",
                "retry": 3,
                "retryIntervalInSeconds": 60,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "exec_generic",
              "dependsOn": []
            }
          ]
        },
        "name": "fe_brz",
        "dependsOn": [
          {
            "activity": "lk_brz_ref",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ],
    "parameters": {
      "project_name": {
        "type": "String",
        "defaultValue": "supplychain"
      }
    }
  }
}