07-fabric-build/The future/pl_dq_check.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "LakehouseTableSource",
            "sqlReaderQuery": {
              "value": "@concat('SELECT rule_id FROM SupplyChain_Warehouse.meta.dq_rules WHERE is_active = 1 AND layer IN (', pipeline().parameters.dq_layer, ')')",
              "type": "Expression"
            },
            "partitionOption": "None"
          },
          "datasetSettings": {
            "type": "LakehouseTable",
            "schema": [],
            "connectionSettings": {
              "name": "SupplyChain_Lakehouse",
              "properties": {
                "type": "Lakehouse",
                "typeProperties": {
                  "artifactId": "a58732fa-f50a-856c-4f46-409362a3081e",
                  "workspaceId": "00000000-0000-0000-0000-000000000000",
                  "rootFolder": "Tables"
                },
                "externalReferences": {
                  "connection": "b4311980-3d3b-49be-bd11-7e2f8e424e19"
                },
                "annotations": []
              }
            },
            "annotations": []
          },
          "firstRowOnly": false
        },
        "policy": {
          "timeout": "0.00:10:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "lk_dq_rules",
        "dependsOn": []
      },
      {
        "type": "ForEach",
        "typeProperties": {
          "batchCount": 5,
          "items": {
            "value": "@activity('lk_dq_rules').output.value",
            "type": "Expression"
          },
          "activities": [
            {
              "type": "SqlServerStoredProcedure",
              "typeProperties": {
                "storedProcedureName": "[meta].[usp_check_dq_single]",
                "storedProcedureParameters": {
                  "rule_id": {
                    "value": {
                      "value": "@item().rule_id",
                      "type": "Expression"
                    },
                    "type": "Int32"
                  },
                  "pipeline_run_id": {
                    "value": {
                      "value": "@pipeline().parameters.pipeline_run_id",
                      "type": "Expression"
                    },
                    "type": "String"
                  }
                }
              },
              "linkedService": {
                "name": "SupplyChain_Warehouse",
                "properties": {
                  "type": "DataWarehouse",
                  "typeProperties": {
                    "artifactId": "e146ffe2-d907-46a7-9b7e-3e739a31b24e",
                    "endpoint": "7woj2wroypauvkpn72b56t46ju-qp6ntsfwdaou5atebne65u3p4a.datawarehouse.fabric.microsoft.com",
                    "workspaceId": "c8d9fc83-18b6-4e1d-8264-0b49eed36fe0"
                  },
                  "annotations": []
                }
              },
              "policy": {
                "timeout": "0.00:10:00",
                "retry": 2,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "exec_dq_single",
              "dependsOn": []
            }
          ]
        },
        "name": "fe_dq_check",
        "dependsOn": [
          {
            "activity": "lk_dq_rules",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ],
    "parameters": {
      "dq_layer": {
        "type": "String",
        "defaultValue": "'BRZ','REF'"
      },
      "pipeline_run_id": {
        "type": "String",
        "defaultValue": ""
      }
    }
  }
}