07-fabric-build/The future/pl_sc_silver.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "SqlServerStoredProcedure",
        "typeProperties": {
          "storedProcedureName": "[meta].[usp_compute_slv_waves]"
        },
        "linkedService": {
          "name": "SupplyChain_Warehouse",
          "properties": {
            "type": "DataWarehouse",
            "typeProperties": {
              "artifactId": "e146ffe2-d907-46a7-9b7e-3e739a31b24e",
              "endpoint": "7woj2wroypauvkpn72b56t46ju-qp6ntsfwdaou5atebne65u3p4a.datawarehouse.fabric.microsoft.com",
              "workspaceId": "c8d9fc83-18b6-4e1d-8264-0b49eed36fe0"
            },
            "annotations": []
          }
        },
        "policy": {
          "timeout": "0.01:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "compute_waves",
        "dependsOn": []
      },
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "LakehouseTableSource",
            "sqlReaderQuery": "SELECT DISTINCT wave FROM SupplyChain_Warehouse.meta.slv_dag_waves_runtime ORDER BY wave",
            "partitionOption": "None"
          },
          "datasetSettings": {
            "type": "LakehouseTable",
            "schema": [],
            "connectionSettings": {
              "name": "SupplyChain_Lakehouse",
              "properties": {
                "type": "Lakehouse",
                "typeProperties": {
                  "artifactId": "a58732fa-f50a-856c-4f46-409362a3081e",
                  "workspaceId": "00000000-0000-0000-0000-000000000000",
                  "rootFolder": "Tables"
                },
                "externalReferences": {
                  "connection": "b4311980-3d3b-49be-bd11-7e2f8e424e19"
                },
                "annotations": []
              }
            },
            "annotations": []
          },
          "firstRowOnly": false
        },
        "policy": {
          "timeout": "0.01:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "lk_waves",
        "dependsOn": [
          {
            "activity": "compute_waves",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "ForEach",
        "typeProperties": {
          "isSequential": true,
          "items": {
            "value": "@activity('lk_waves').output.value",
            "type": "Expression"
          },
          "activities": [
            {
              "type": "InvokePipeline",
              "typeProperties": {
                "parameters": {
                  "wave_number": {
                    "value": "@item().wave",
                    "type": "Expression"
                  }
                },
                "waitOnCompletion": true,
                "workspaceId": "00000000-0000-0000-0000-000000000000",
                "pipelineId": "abd14f76-1e19-a472-49b5-21a257a09720",
                "operationType": "InvokeFabricPipeline"
              },
              "externalReferences": {
                "connection": "3bee8b0e-bc72-484d-9008-4a7c0acd92d0"
              },
              "policy": {
                "timeout": "0.02:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "exec_wave",
              "dependsOn": []
            }
          ]
        },
        "name": "fe_waves",
        "dependsOn": [
          {
            "activity": "lk_waves",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ],
    "parameters": {
      "project_name": {
        "type": "String",
        "defaultValue": "supplychain"
      }
    },
    "concurrency": 1
  }
}