07-fabric-build/01_Forecast_Project/01_Standard_Pipeline/2_slv/pl_slv_daily.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "LakehouseTableSource",
            "sqlReaderQuery": "SELECT table_name, notebook_name\nFROM dbo.utl_pipeline_metadata\nWHERE is_active = 1 AND layer = 'SLV' AND execution_order = 2\nAND next_run_time <= CURRENT_TIMESTAMP",
            "partitionOption": "None"
          },
          "datasetSettings": {
            "type": "LakehouseTable",
            "schema": [],
            "connectionSettings": {
              "name": "SupplyChain_Lakehouse",
              "properties": {
                "type": "Lakehouse",
                "typeProperties": {
                  "artifactId": "a58732fa-f50a-856c-4f46-409362a3081e",
                  "workspaceId": "00000000-0000-0000-0000-000000000000",
                  "rootFolder": "Tables"
                },
                "externalReferences": {
                  "connection": "1a64c7b8-2c7a-445a-bd7f-ca0fc0b98e9b"
                },
                "annotations": []
              }
            },
            "annotations": []
          },
          "firstRowOnly": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Lookup_DueNotebooks",
        "dependsOn": []
      },
      {
        "type": "ForEach",
        "typeProperties": {
          "batchCount": 3,
          "items": {
            "value": "@activity('Lookup_DueNotebooks').output.value",
            "type": "Expression"
          },
          "activities": [
            {
              "type": "TridentNotebook",
              "typeProperties": {
                "notebookId": {
                  "value": "@item().notebook_name",
                  "type": "Expression"
                },
                "workspaceId": "c8d9fc83-18b6-4e1d-8264-0b49eed36fe0"
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 1,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "nb_slv_etl_1",
              "dependsOn": []
            }
          ]
        },
        "name": "ForEach_RunNotebooks",
        "dependsOn": [
          {
            "activity": "Lookup_DueNotebooks",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "LakehouseTableSource",
            "sqlReaderQuery": "SELECT table_name, notebook_name\nFROM dbo.utl_pipeline_metadata\nWHERE is_active = 1 AND layer = 'SLV' AND execution_order = 3\nAND next_run_time <= CURRENT_TIMESTAMP",
            "partitionOption": "None"
          },
          "datasetSettings": {
            "type": "LakehouseTable",
            "schema": [],
            "connectionSettings": {
              "name": "SupplyChain_Lakehouse",
              "properties": {
                "type": "Lakehouse",
                "typeProperties": {
                  "artifactId": "a58732fa-f50a-856c-4f46-409362a3081e",
                  "workspaceId": "00000000-0000-0000-0000-000000000000",
                  "rootFolder": "Tables"
                },
                "externalReferences": {
                  "connection": "1a64c7b8-2c7a-445a-bd7f-ca0fc0b98e9b"
                },
                "annotations": []
              }
            },
            "annotations": []
          },
          "firstRowOnly": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Lookup_DueNotebooks_2",
        "dependsOn": [
          {
            "activity": "ForEach_RunNotebooks",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "ForEach",
        "typeProperties": {
          "batchCount": 3,
          "items": {
            "value": "@activity('Lookup_DueNotebooks_2').output.value",
            "type": "Expression"
          },
          "activities": [
            {
              "type": "TridentNotebook",
              "typeProperties": {
                "notebookId": {
                  "value": "@item().notebook_name",
                  "type": "Expression"
                },
                "workspaceId": "c8d9fc83-18b6-4e1d-8264-0b49eed36fe0"
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 1,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "nb_slv_etl_2",
              "dependsOn": []
            }
          ]
        },
        "name": "ForEach_RunNotebooks_2",
        "dependsOn": [
          {
            "activity": "Lookup_DueNotebooks_2",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "LakehouseTableSource",
            "sqlReaderQuery": "SELECT table_name, notebook_name\nFROM dbo.utl_pipeline_metadata\nWHERE is_active = 1 AND layer = 'SLV' AND execution_order = 4\nAND next_run_time <= CURRENT_TIMESTAMP",
            "partitionOption": "None"
          },
          "datasetSettings": {
            "type": "LakehouseTable",
            "schema": [],
            "connectionSettings": {
              "name": "SupplyChain_Lakehouse",
              "properties": {
                "type": "Lakehouse",
                "typeProperties": {
                  "artifactId": "a58732fa-f50a-856c-4f46-409362a3081e",
                  "workspaceId": "00000000-0000-0000-0000-000000000000",
                  "rootFolder": "Tables"
                },
                "externalReferences": {
                  "connection": "1a64c7b8-2c7a-445a-bd7f-ca0fc0b98e9b"
                },
                "annotations": []
              }
            },
            "annotations": []
          },
          "firstRowOnly": false
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Lookup_DueNotebooks_3",
        "dependsOn": [
          {
            "activity": "ForEach_RunNotebooks_2",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "ForEach",
        "typeProperties": {
          "batchCount": 3,
          "items": {
            "value": "@activity('Lookup_DueNotebooks_3').output.value",
            "type": "Expression"
          },
          "activities": [
            {
              "type": "TridentNotebook",
              "typeProperties": {
                "notebookId": {
                  "value": "@item().notebook_name",
                  "type": "Expression"
                },
                "workspaceId": "c8d9fc83-18b6-4e1d-8264-0b49eed36fe0"
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "nb_slv_etl_3",
              "dependsOn": []
            }
          ]
        },
        "name": "ForEach_RunNotebooks_3",
        "dependsOn": [
          {
            "activity": "Lookup_DueNotebooks_3",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ],
    "concurrency": 1
  }
}